* {
  margin: 0;
  padding: 0;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  background-color: white;
  padding: 30px 250px;
  max-height: 93px;
}
.header .header-menu {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  width: 100%;
}
.header .header-menu .header-menu__item {
  border-radius: 2px;
  color: #868686;
  padding: 12px 20px;
}
.header .header-menu .header-menu__item:hover {
  background-color: #ffbb42;
  color: white;
  cursor: pointer;
}

.logo {
  background-image: url("./assets/img/logo.png");
  background-repeat: no-repeat;
  width: 50px;
  height: 48px;
}

.menu-item {
  font-family: "Lato", sans-serif;
  font-size: 13px;
  text-transform: uppercase;
}

.banner-container {
  display: flex;
  flex-direction: column;
  background-color: #709dca;
  position: relative;
  height: 690px;
  z-index: 0;
}
.banner-container .banner-header-container {
  margin: 110px 0 33px;
}
.banner-container .header-container__title {
  font-size: 35px;
}

.header-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: inherit;
}

.request-form {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 0 306px;
  margin-bottom: 67px;
}
.request-form .rf-btn {
  font-family: "Open Sans", sans-serif;
  width: 211px;
  color: white;
}
.request-form .rf-btn:hover {
  cursor: pointer;
}
.request-form .rf-input-container {
  height: 46px;
  width: 281px;
  margin-right: 10px;
}

.btn {
  font-family: "Lato", sans-serif;
  font-size: 14px;
  background-color: #eeba4d;
  border-radius: 2px;
  text-transform: uppercase;
  border: none;
}

.input-container {
  display: flex;
  flex-direction: row;
  background-color: white;
  border-radius: 2px;
}
.input-container .input-container__icon {
  font-size: 16px;
  color: #6e6e6e;
  padding: 15px;
}

.input {
  border: none;
  outline: none;
  font-size: 13px;
  font-family: "Open Sans", sans-serif;
  border-radius: inherit;
}

.title {
  font-family: "Gotham Black", sans-serif;
  font-size: 30px;
  text-transform: uppercase;
}

.title_white {
  color: white;
}

.title_black {
  color: #414c51;
}

.subtitle {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
}

.subtitle_white {
  color: white;
}

.subtitle_black {
  color: #414c51;
}

.subtitle_gray {
  color: #838f94;
}

.laptop {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  margin-bottom: 103px;
}
.laptop .lap-top {
  position: absolute;
}
.laptop .laptop__image {
  position: absolute;
  top: 18px;
  left: 731px;
  z-index: 2;
}
.laptop .laptop__arrow_left {
  left: 665px;
}
.laptop .laptop__arrow_right {
  right: 665px;
}
.laptop .laptop__arrow {
  position: absolute;
  color: white;
  top: 140px;
  z-index: 3;
}
.laptop .laptop__arrow:hover {
  cursor: pointer;
}
.laptop .slider-buttons {
  display: flex;
  flex-direction: row;
  position: absolute;
  top: 355px;
}
.laptop .slider-buttons .slider-buttons__button {
  border: 2px solid #dddedf;
  padding: 5px;
  border-radius: 50%;
  margin-right: 6px;
}
.laptop .slider-buttons .slider-buttons__button:hover {
  cursor: pointer;
}
.laptop .slider-buttons .slider-buttons__button:last-child {
  margin-right: 0;
}
.laptop .slider-buttons .slider-buttons__button_selected {
  border: 2px solid #64a8db;
}

.services-header-container {
  margin: 103px 0 88px;
}

.services-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 0 265px;
  margin-bottom: 70px;
}
.services-container .services-img {
  width: 50px;
  height: 50px;
}
.services-container .services-container__item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-bottom: 80px;
}
.services-container .services-container__item-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-left: 38px;
  width: 472px;
}
.services-container .services-container__item-content-header {
  font-family: "Lato", sans-serif;
  font-size: 16px;
  text-transform: uppercase;
  color: #414c51;
}
.services-container .services-container__item-content-text {
  font-family: "Open Sans", sans-serif;
  font-size: 13px;
  color: #7b7b7b;
  padding-top: 21px;
}

.about-us {
  display: flex;
  flex-direction: row;
  background-color: #e8c05d;
}
.about-us__img {
  width: 950px;
}
.about-us .about-us-container {
  display: flex;
  flex-direction: column;
  padding: 164px 265px 33px 80px;
}
.about-us .about-us-container__text {
  font-family: "Open Sans", sans-serif;
  font-size: 13px;
  color: white;
  line-height: 1.846;
  margin-bottom: 33px;
}
.about-us .about-us-container__title {
  padding-bottom: 28px;
}
.about-us .about-us-container__btn {
  width: 145px;
  height: 46px;
  background-color: inherit;
  border: 1px solid #d7ab51;
  color: white;
  border-radius: 2px;
}
.about-us .about-us-container__btn:hover {
  cursor: pointer;
}

.price-plans {
  background-color: #e8edf2;
}
.price-plans .price-plans-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 137px;
}
.price-plans-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 50px 265px 165px;
}
.price-plans-container__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
}
.price-plans-container__item:first-child {
  border-top: 1px solid #cdd4de;
  border-left: 1px solid #cdd4de;
  border-bottom: 1px solid #cdd4de;
  border-radius: 2px 0 0 2px;
  margin: 30px 0;
}
.price-plans-container__item:last-child {
  margin: 30px 0;
  border-top: 1px solid #cdd4de;
  border-right: 1px solid #cdd4de;
  border-bottom: 1px solid #cdd4de;
  border-radius: 0 2px 2px 0;
}
.price-plans-container__item-header {
  font-family: "Lato", sans-serif;
  font-size: 25px;
  color: #8d939b;
  text-transform: uppercase;
  padding: 57px 128px 29px;
}
.price-plans-container__price-per-month {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.price-plans-container__price-count {
  font-size: 60px;
  font-family: "Lato", sans-serif;
  color: #ffbb42;
  text-transform: uppercase;
  font-weight: bold;
}
.price-plans-container__price-count .symbol {
  font-size: 30px;
}
.price-plans-container__per-month {
  font-size: 13.5px;
  font-family: "Lato", sans-serif;
  color: #b5bbc1;
  text-transform: uppercase;
  padding-bottom: 33px;
}
.price-plans .price-plans-text-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.price-plans .price-plans-text-container__item {
  font-size: 13.5px;
  font-family: "Lato", sans-serif;
  color: #b5bbc1;
  text-transform: uppercase;
  padding-bottom: 15px;
  padding-top: 15px;
}
.price-plans .price-plans-text-container__item:last-child {
  padding-bottom: 0;
}
.price-plans .get-started {
  font-size: 14px;
  font-family: "Lato", sans-serif;
  color: white;
  text-transform: uppercase;
  border-radius: 2px;
  background-color: #ffbb42;
  border: none;
  padding: 16px 21px;
  margin-top: 35px;
  margin-bottom: 48px;
}
.price-plans .get-started:hover {
  cursor: pointer;
}
.price-plans hr {
  width: 329px;
  background-color: #e2e9f0;
  height: 1px;
  border: none;
}
.price-plans .selected_plan {
  background-color: #7098ca;
  border-radius: 2px;
}
.price-plans .selected_plan .price-plans-container__item-header {
  padding-top: 87px;
  color: white;
}
.price-plans .selected_plan .price-plans-container__price-count {
  font-weight: normal;
  color: white;
}
.price-plans .selected_plan .price-plans-container__per-month {
  color: white;
}
.price-plans .selected_plan .price-plans-text-container__item {
  color: white;
}
.price-plans .selected_plan hr {
  background-color: #8eb8e2;
}

.how-it-works {
  padding: 155px 265px 150px;
  display: flex;
  flex-direction: column;
}
.how-it-works .hiw-header-container {
  margin-bottom: 80px;
}
.how-it-works .steps-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-bottom: 90px;
}
.how-it-works .steps-container__item {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.how-it-works .steps-container__item-img {
  width: 72px;
  height: 66px;
}
.how-it-works .steps-container__item-header {
  font-family: "Lato", sans-serif;
  font-size: 20px;
  color: #414c51;
  margin-top: 100px;
  text-transform: uppercase;
}
.how-it-works .steps-container__item-text {
  font-family: "Open Sans", sans-serif;
  font-size: 13px;
  color: #7b7b7b;
  max-width: 231px;
  text-align: center;
  margin-top: 28px;
}
.how-it-works .btn-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.how-it-works .get-star-now {
  font-family: "Lato", sans-serif;
  font-size: 14px;
  text-transform: uppercase;
  color: white;
  padding: 17px 28px;
  border: none;
  border-radius: 2px;
  background-color: #eeba4d;
}
.how-it-works .get-star-now:hover {
  cursor: pointer;
}

.happy-clients {
  padding: 140px 0 140px;
  background-color: #efc05d;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.happy-clients .hp-header-container {
  margin-bottom: 58px;
}
.happy-clients .clients-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 1170px;
  max-height: 502px;
}
.happy-clients .clients-container .clients-container__item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  max-width: 567px;
  max-height: 241px;
  margin-bottom: 20px;
  background-color: white;
  border-radius: 2px;
  padding: 43px 40px 52px 30px;
}
.happy-clients .clients-container .clients-container__item-img {
  max-width: 121px;
  max-height: 121px;
}
.happy-clients .clients-container .clients-container__item-content {
  display: flex;
  flex-direction: column;
  max-width: 365px;
  padding-left: 13px;
}
.happy-clients .clients-container .clients-container__item-feedback {
  font-family: "Open Sans", sans-serif;
  font-size: 13px;
  color: #a3a3a3;
  margin-bottom: 28px;
}
.happy-clients .clients-container .clients-container__item-author {
  font-family: "Lato", sans-serif;
  font-size: 16px;
  text-transform: uppercase;
  color: #da7635;
}
.happy-clients .clients-container .clients-container__item-author-role {
  font-family: "Lato", sans-serif;
  font-size: 16px;
  text-transform: uppercase;
  color: #abb5b8;
}

.newsletter {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 154px;
}
.newsletter .newsletter-header-container {
  margin-bottom: 38px;
}
.newsletter .contact-form {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 382px;
  margin-bottom: 53px;
}
.newsletter .contact-form .cf-input-container {
  border: 1px solid #cacaca;
  margin-right: 10px;
  max-height: 47px;
}
.newsletter .contact-form .cf-input-container .cf-input-container__input-email {
  width: 388px;
}
.newsletter .contact-form .cf-input-container .cf-input-container__input-name {
  width: 308px;
}
.newsletter .contact-form .cf-btn {
  padding: 19px 52px 18px 53px;
  color: white;
}
.newsletter .contact-form .cf-btn:hover {
  cursor: pointer;
}

.map {
  display: flex;
  flex-direction: row;
  justify-content: center;
  position: relative;
  padding-bottom: 57px;
}
.map .addresses-background {
  position: absolute;
  top: 40px;
}
.map .info-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 105px;
}
.map .info-container .info-container__address {
  text-transform: uppercase;
  color: white;
  font-family: "Lato", sans-serif;
  font-size: 15px;
  margin-bottom: 20px;
}
.map .info-container .info-container__email {
  color: #dcae4e;
}

.text {
  font-family: "Open Sans", sans-serif;
  font-size: 13px;
  color: #afb6b8;
  padding-bottom: 8px;
}

.footer {
  display: flex;
  flex-direction: column;
}
.footer hr {
  margin: 0 265px 68px;
  background-color: #e3e6eb;
  height: 1px;
  border: none;
}
.footer .footer-menu {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 487px;
  margin-bottom: 30px;
}
.footer .footer-menu .footer-menu__item {
  color: #394b50;
}
.footer .footer-contact-number {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-bottom: 21px;
}
.footer .footer-contact-number .footer-contact-number__contact-number {
  font-family: "Lato", sans-serif;
  font-size: 20px;
  color: #394b50;
  letter-spacing: 1px;
}
.footer .footer-contact-number .footer-contact-number__icon {
  font-size: 18px;
  color: #394b50;
  padding-right: 5px;
}
.footer .footer-media {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 52px;
}
.footer .footer-media .footer-media__item {
  padding-right: 15px;
}
.footer .footer-media .footer-media__item:last-child {
  padding: 0;
}
.footer .footer-media .footer-media__item_blue {
  color: #7e9bc7;
}
.footer .footer-media .footer-media__item_orange {
  color: #efbf5d;
}
.footer .footer__copyright {
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: #7e9cc7;
  font-family: "Open Sans", sans-serif;
  font-size: 13px;
  color: white;
  padding: 18px 0 15px;
}

/*# sourceMappingURL=style.css.map */
